---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="https://scholar.google.com/citations?user=_waWSjEAAAAJ&hl=zh-CN">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference Papers</h2>

<div class="publications">
  <article>
    <strong>Large Language Models Play StarCraft II: Benchmarks and A Chain of Summarization Approach</strong>
    <br>
    Wei Yu Ma, et al.
    <br>
    <i>NeurIPS 2024</i>
    <br>
    First Author
    <br>
    <a href="https://arxiv.org/abs/2312.11865">Paper</a>
  </article>

  <article>
    <strong>Token-level Direct Preference Optimization</strong>
    <br>
    <i>ICML 2024</i>
    <br>
    Third Author
    <br>
    <a href="https://icml.cc/virtual/2024/poster/35149">Paper</a>
  </article>

  <article>
    <strong>Adaptive Command: Real-Time Policy Adjustment via Language Models in StarCraft II</strong>
    <br>
    Wei Yu Ma, et al.
    <br>
    <i>DAI 2024</i>
    <br>
    First Author
  </article>
</div>

<h2>Preprints</h2>

<div class="publications">
  <article>
    <strong>A New Approach to Solving SMAC Task: Generating Decision Tree Code from Large Language Models</strong>
    <br>
    Yue Deng, Weiyu Ma, Yuxin Fan, Yin Zhang, Haifeng Zhang, Jian Zhao
    <br>
    <a href="https://arxiv.org/abs/2410.16024">arXiv</a>
  </article>
</div>
